<div class="employee-details-surface">
  <div class="employee-name-surface">
    <img src="{{ employeeDetails.image }}" alt="Avatar" class="avatar" />
    <div>
      <p>
        <b>{{ employeeDetails.firstName }} {{ employeeDetails.lastName }}</b>
      </p>
      <p>{{ employeeDetails.username }}</p>
    </div>
    <img src="edit.svg" alt="Avatar" class="edit-icon" />
  </div>
  <hr />
  <div class="employee-experience-surface">
    <p>
      Age : <b> {{ employeeDetails.age }}</b>
    </p>
    <div class="vertical"></div>
    <p>
      Blood Group : <b> {{ employeeDetails.bloodGroup }}</b>
    </p>
  </div>
  <hr />
  <div>
    <p>
      department : <b> {{ employeeDetails.company.department }}</b>
    </p>
    <p>
      title : <b> {{ employeeDetails.company.title }}</b>
    </p>
  </div>
  <hr />
  <img src="phone.svg" alt="Avatar" class="edit-icon"  />
  <img src="mail.svg" alt="Avatar" class="edit-icon" />
</div>
